#loadMoreBtn {
    background-color: #f8f9fa; 
    color: #6c757d; 
    border: 2px solid #6c757d; 
    padding: 12px 25px; 
    font-size: 18px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, transform 0.3s, color 0.3s, box-shadow 0.3s; 
}

#loadMoreBtn:hover {
    background-color: #6c757d; 
    color: white; 
    transform: translateY(-4px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

#loadMoreBtn:focus {
    outline: none; 
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); 
}

#loadMoreBtn i {
    font-size: 24px; 
    margin-right: 8px; 
}